/**{
	margin: 5% 20% 20% 20%;
}*/

.wordle {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	font-family: "Wordle", Arial, sans-serif;
}

@font-face {
	font-family: "Wordle"; 
	src: url("fonts/karnakcondensed-normal-700.woff") format("woff");
}
	
.tabuleiro {
	text-align: center;
	margin: 1px;
	}

.quadrado {
	border: 2px solid #c6c2c2;
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-top: 2.5px;
	font-size: 32px;
	color: #fff;
	line-height: 60px;
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
}
	
.errado {
	background-color: #3a3a3c;
	border: 2px solid #3a3a3c;
}

.medio {
	background-color: #b59f3b;
	border: 2px solid #b59f3b;
}

.correto {
	background-color: #538d4e;
	border: 2px solid #538d4e;
}

.btn{
	border: 2px solid;
	width: 45px;
	height: 60px;
	display: inline-block;
	margin-top: 2.5px;
	line-height: 55px;
	border-radius: 4px;
	margin-top: 6px;
	margin-inline: 1px;
	font-size: 13px;
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
}

.maior {
	width: 65px;
}

.cinza-claro{
	background-color: #c6c2c2;
	border: #c6c2c2;
	color: #070707;
}

.cinza-escuro{
	background-color: #3a3a3c;
	border: #3a3a3c;
	color: #fff;
}

.verde{
	background-color: #538d4e;
	border: #538d4e;
	color: #fff;
}