.{
	margin-top: 20px;
}

.quadrado {
	border-color: black;
	margin left: 200px;
	margin right: 25%;
	border: 2px solid;
	width:40px;
 	height:40px;
	
	}

.wordle {
	margin left: 200px;
	margin right: 25%;
}

